src/main/resources/person.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PERSON">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="NAME"/>
        <xs:element type="xs:string" name="POSITION"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>